In [1]:
import pandas as pd

In [2]:
dataset  = "https://www.kaggle.com/datasets/elemento/nyc-yellow-taxi-trip-data"

In [3]:
import sys
!{sys.executable} -m pip install opendatasets --upgrade

Requirement already satisfied: opendatasets in /opt/conda/lib/python3.12/site-packages (0.1.22)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.12/site-packages (from opendatasets) (4.66.2)
Requirement already satisfied: kaggle in /opt/conda/lib/python3.12/site-packages (from opendatasets) (1.7.4.5)
Requirement already satisfied: click in /opt/conda/lib/python3.12/site-packages (from opendatasets) (8.3.0)
Requirement already satisfied: bleach in /home/codespace/.local/lib/python3.12/site-packages (from kaggle->opendatasets) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /home/codespace/.local/lib/python3.12/site-packages (from kaggle->opendatasets) (2025.7.9)
Requirement already satisfied: charset-normalizer in /home/codespace/.local/lib/python3.12/site-packages (from kaggle->opendatasets) (3.4.2)
Requirement already satisfied: idna in /home/codespace/.local/lib/python3.12/site-packages (from kaggle->opendatasets) (3.10)
Requirement already satisfied: protobuf in /opt/conda/lib/python3.12/site-packages (from kaggle->opendatasets) (6.33.0)
Requirement already satisfied: python-dateutil>=2.5.3 in /home/codespace/.local/lib/python3.12/site-packages (from kaggle->opendatasets) (2.9.0.post0)
Requirement already satisfied: python-slugify in /opt/conda/lib/python3.12/site-packages (from kaggle->opendatasets) (8.0.4)
Requirement already satisfied: requests in /home/codespace/.local/lib/python3.12/site-packages (from kaggle->opendatasets) (2.32.4)
Requirement already satisfied: setuptools>=21.0.0 in /home/codespace/.local/lib/python3.12/site-packages (from kaggle->opendatasets) (80.9.0)
Requirement already satisfied: six>=1.10 in /home/codespace/.local/lib/python3.12/site-packages (from kaggle->opendatasets) (1.17.0)
Requirement already satisfied: text-unidecode in /opt/conda/lib/python3.12/site-packages (from kaggle->opendatasets) (1.3)
Requirement already satisfied: urllib3>=1.15.1 in /home/codespace/.local/lib/python3.12/site-packages (from kaggle->opendatasets) (2.5.0)
Requirement already satisfied: webencodings in /home/codespace/.local/lib/python3.12/site-packages (from kaggle->opendatasets) (0.5.1)

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: /opt/conda/bin/python -m pip install --upgrade pip

In [4]:
import opendatasets as od
import os

In [5]:
od.download(dataset)

Skipping, found downloaded files in "./nyc-yellow-taxi-trip-data" (use force=True to force download)

In [6]:
import os
os.listdir()

['README.md',
 'homework.ipynb',
 '.git',
 '.gitignore',
 'Anaconda3-2024.10-1-Linux-x86_64.sh',
 'nyc-yellow-taxi-trip-data',
 'Untitled.ipynb',
 '.ipynb_checkpoints',
 'Anaconda3-2024.10-1-MacOSX-arm64.sh']

In [7]:
import os

os.listdir("nyc-yellow-taxi-trip-data")

['yellow_tripdata_2015-01.csv',
 'yellow_tripdata_2016-03.csv',
 'yellow_tripdata_2016-01.csv',
 'yellow_tripdata_2016-02.csv']

In [9]:
import pandas as pd

df = pd.read_csv("nyc-yellow-taxi-trip-data/yellow_tripdata_2015-01.csv", nrows = 50000)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30